@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@theme {
  --font-sans: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --color-brand: #ff2e63;
  --color-background: #1a1a2e;
  --color-secondary: #f08a5d;
  --color-text: #eaeaea;
  --color-secondary-background: #232342;

  --animate-shimmer: shimmer 2s ease-in-out infinite;
}
