.link {
  position: relative;
  font-family: var(--font-inter);
  font-weight: var(--font-weight-medium);
  transition: colors 0.3s ease-out;
  
}

.link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--color-brand);
  scale: 0;
  transition: scale 0.3s ease-in-out;
  transform-origin: right;
}

.link:hover::before {
  scale: 1;
  transform-origin: left;
}

.link:hover {
  color: var(--color-brand);
}
